*~
# intermediate generate netlist file
ulx3s.net
# intermediate files of the freeroute
ulx3s.dsn
ulx3s.bin
ulx3s.ses
ulx3s.rules
.vs/
.vdbs/
/blinky/Diamond/Blinky_Implementation
/blinky/Diamond/Diamond_tcr.dir
/blinky/Diamond/.run_manager.ini
/blinky/Diamond/promote.xml
/blinky/Diamond/reportview.xml
implementation/
/passthru/Diamond/passthru_implementation
/passthru/Diamond/.setting.ini
/passthru/Diamond/.recovery
/passthru/Diamond/passthru1.sty

/passthru/DiamondVerilog/implementation
/passthru/DiamondVerilog/.recovery
/passthru/DiamondVerilog/fullconvert.v
/passthru/DiamondVerilog/fullconvert.vhdl
/passthru/DiamondVerilog/passthru1.sty
/blinky/OpenSource/obj_dir
/passthru/OpenSource/obj_dir
/blinky/OpenSource/blinky.vcd
/blinky/OpenSource/blinky_tb
/blinky/OpenSource/blinky.json
/blinky/OpenSource/ulx3s.bit
/blinky/OpenSource/ulx3s_out.config
/passthru/DiamondDebounce/passthru_tcr.dir
/passthru/DiamondDebounce/reportview.xml
/passthru/DiamondDebounce/promote.xml
/passthru/DiamondDebounce/passthru1.sty
/passthru/DiamondDebounce/.setting.ini
/passthru/DiamondDebounce/.run_manager.ini
/passthru/DiamondVerilog/passthru_tcr.dir
/passthru/DiamondVerilog/reportview.xml
/passthru/DiamondVerilog/promote.xml
/passthru/DiamondVerilog/.run_manager.ini
/passthru/OpenSource/ulx3s.bit
/VisualMicro/__vm/Upload.vmps.xml
/VisualMicro/__vm/Configuration.Debug.vmps.xml
/VisualMicro/__vm/Compile.vmps.xml
/VisualMicro/Debug
/VisualMicro/Release
/VisualMicro-SSD1331-Display/Debug
/VisualMicro-SSD1331-Display/__vm
/VisualMicro-SSD1331-Display/Release
/passthru/OpenSource/passthru.json
/passthru/OpenSource/ulx3s_out.config
/bin/DiamondVerilog_passthru.bit
/passthru/DiamondVerilog/ulx3s_v20.ccl
/passthru/DiamondVerilog/passthru_tcl.html
/passthru/DiamondVerilog/.spread_sheet.ini
/passthru/DiamondVerilog/.spreadsheet_view.ini
/passthru/DiamondVerilog/.setting.ini
/SPI/stm32-spi-test/out/build/x64-Debug
/nanoframework/blinky/bin/Debug
/nanoframework/blinky/obj/Debug
/nanoframework/blinky/packages/nanoFramework.CoreLibrary.1.6.0-preview.1
